server {
    listen 80 default_server;
    #listen [::]:80 default_server ipv6only=on;

    root /opt;
    index index.html index.htm;

    server_name localhost;

    location /ping {
        return 200;
    }

    location /db {
        proxy_pass          http://influxdb:8086/db;
    }

    location / {
        proxy_pass          http://grafana:3000/;
    }

}
